html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Baloo Chettan 2', cursive;
    margin: 0;
    padding: 0;
    border: 0;
}

.small-heading {
    font-weight: normal;
}

.typewriter-font {
    font-family: 'Special Elite', cursive;
    color:#006400;
}

.full-stop {
    font-family: 'Special Elite', cursive;
    font-size:50px;
}

.buttons {
    padding-top:30px;
}


.btn-style {
    border:none;
    background-color:white;
    font-size:18px;
    font-family: 'Baloo Chettan 2', cursive;
    text-decoration: underline;
}

.btn-style:hover {
    font-size:25px;
    background-color:#9CBA7F;
    border-radius:25%;
}


.first-container {
    position: relative;
    padding-top: 15%;
    padding-bottom:15%;
    text-align: center;
    overflow: hidden;
    background:url(leaves.png);
    /* border: solid 2px blue; */
}

.first-container h1 {
    font-size:70px;
}

.about, .projects, .contact {
    padding-top:20px;
}


.separator {
    padding-top:5%;
    padding-bottom:5%;
}

.second-container i {
    font-size:40px;
}

.second-container i:hover {
    font-size:50px;
    color: #9CBA7F;
}

.spacing {
    padding-left:20px;
    padding-right:10px;
}

.second-container h1, .third-container h1, .fourth-container h1 {
    font-size:50px;
}

.second-container, .third-container, .fourth-container {
    text-align:center;
    font-size:18px;
    padding-bottom:2%;
    padding-right:20%;
    padding-left:20%;
    line-height:150%;
    background:url(leaves.png);
}

.second-container, .third-container {
    padding-top:2%;
}

/* .third-container {
    border:solid 2px red;
} */

.third-container a {
    text-align:center;
}

.project-photo {
    height:auto;
    width:400px;
}

@media screen and (min-width:769px){

.grid-container {
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap:25px;
    grid-template-columns: auto auto;
  /* padding:10px; */
}

}


/* .fourth-container {
    border:solid 2px pink;
} */


.footer{
    width:100%;
    height:30px;
    text-align:center;
    /* border: 2px solid #e6c3f7; */
}

.btn {
    border-radius:4px;
    background-color:#9CBA7F;
    text-decoration:none;
    font-size:20px;
    padding: 5px 50px 5px 50px;
    color:black;
    cursor:pointer;
}


.btn:hover {
    background: linear-gradient(#9CBA7F, #608341);
}